body {
  background-color: #BCFFB9;
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 160px;
}

#submit-btn {
  margin-top: 5rem;
  font-size: 40px;
}
